<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FURIAbot: seu assistente furioso | FURIA</title>
    <link rel="shortcut icon" href="../static/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='furia-logo-2.png') }}" alt="">
            <h1 id="furia-bot">bot</h1>
        </div>
        <div class="logo-direita">
            <img src="{{ url_for('static', filename='furia-logo.png') }}" alt="FURIA esports logo">
        </div>
    </header>

    <div class="container">
        <main>
            <div class="chat-container">
                <div id="chat-messages">
                    <div class="message bot-message">
                        <div class="avatar bot-avatar"></div>
                        <div class="message-content">E aí! Sou o FuriaBot, assistente oficial sobre a FURIA Esports. Pode me perguntar sobre o time de CS2, jogadores, partidas passadas ou próximos campeonatos!</div>
                    </div>
                </div>
                
                <div class="chat-input">
                    <input type="text" id="user-input" placeholder="Digite sua mensagem...">
                    <button id="send-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                    </button>
                </div>
            </div>
        </main>
        
        <footer>
            <p>Desenvolvido com ❤️ por um fã da FURIA</p>
        </footer>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>